<h1>about</h1>

<p>
 This app is built by Sugat Sapkota, motivated to learn Ruby on Rails.</br>
 App was created in Tal Safran's <%= link_to "Ruby on Rails class on skillshare","http://skillshare.talsafran.com" %>	
</p>

