<% if notice.present? %>
	<p class="alert alert-info">
	<%= notice %>
	</p>
<% end %>

<p>
   <h2>
   <%= @post.title %>
   </h2>
</p>

<p>
    <%= simple_format @post.content %>
</p>



<p class="text-muted">
	<small>
	Posted on <%= @post.created_at.to_formatted_s(:long) %>
	</small>
</p>
		